{% extends "home.html" %} {% block body %}
<style>
    * {
        margin: 0;
        padding: 0;
    }
    
    header {
        font-family: Helvetica;
        width: 480px;
        margin: 0 auto;
    }
    
    ul {
        list-style: none;
    }
    
    #menu li>a {
        background-color: grey;
        color: white;
        padding: 10px;
        display: block;
        text-decoration: none;
        min-width: 100px;
    }
    
    #menu li>a:hover {
        color: #000;
        background-color: #eaeaea;
    }
    
    #menu>li {
        float: left;
        text-align: center
    }
    
    #menu>li>ul {
        display: none;
    }
    
    #menu>li:hover>ul {
        display: block;
    }
</style>
<nav>
    <ul id="menu">
        <li><a href="../clinica">Inicio</a></li>
        <li><a href="../clinica/turno">Turno</a></li>
        <li><a href="../clinica/pedido">Pedido</a></li>
        <li><a href="../clinica/paciente">Paciente</a></li>
    </ul>
</nav>
{% endblock %}